<app-search (lastDate)="dateHandler($event)" [date1]="startDate" [date]="stopDate"></app-search>
<br>
<app-search-tags (markEmitter)="dayAndMonthHandler($event)" (dateEmitter)="getStartAndStopDate($event)" (allEmitter)="allDate1($event)"></app-search-tags>

<br><br>
<nz-table #nzTable [nzDataSource]="dataSet" [nzBordered]="true" [nzPageSize]="20" (nzDataChange)="_displayDataChange($event)" (nzPageIndexChange)="_refreshStatus()" (nzPageSizeChange)="_refreshStatus()">
  <thead nz-thead>
  <tr>
    <th nz-th><span>时间</span></th>
    <th nz-th><span>支付宝收入</span></th>
    <th nz-th><span>支付宝退款</span></th>
    <th nz-th><span>支付宝净值</span></th>
    <th nz-th><span>支付宝实际收款</span></th>
    <th nz-th><span>差异总额</span></th>
  </tr>
  </thead>
  <tbody nz-tbody>
  <tr nz-tbody-tr *ngFor="let data of nzTable.data">
    <td nz-td style="width: 100px;">
      {{data.date.substr(0,10)}}
    </td>
    <td nz-td>{{data.sum_alipay_income_money!=null?data.sum_alipay_income_money:0.00 |number:'0.2-2'}}</td>
    <td nz-td>{{data.sum_alipay_refund_money!=null?data.sum_alipay_refund_money:0}}</td>
    <td nz-td>{{data.sum_alipay_money!=null?data.sum_alipay_money:0.00 |number:'0.2-2'}}</td>
    <td nz-td>{{data.sum_alipay_real_money!=null?data.sum_alipay_real_money:0.00 |number:'0.2-2'}}</td>
    <td nz-td>{{data.difference!=null?data.difference:0.00 |number:'0.2-2'}}</td>
  </tr>
  </tbody>
</nz-table>

