<br>
<h1 align="center">{{monthDate}}月份拼车充值详情</h1>
<br>
<nz-table #nzTable [nzDataSource]="dataSet" [nzBordered]="_bordered" [nzPageSize]="20" (nzDataChange)="_displayDataChange($event)" (nzPageIndexChange)="_refreshStatus()" (nzPageSizeChange)="_refreshStatus()">
  <thead nz-thead>
  <tr>
    <th nz-th><span>充值编号</span></th>
    <th nz-th><span>充值名称</span></th>
    <th nz-th><span>个人充值金额（元）</span></th>
    <th nz-th><span>计划充值人数/实际充值人数</span></th>
    <th nz-th><span>计划充值总额/实际充值金额（元）</span></th>
    <th nz-th><span>手机号</span></th>
    <th nz-th><span>备注</span></th>
    <th nz-th><span>添加人</span></th>
    <th nz-th><span>添加时间</span></th>
    <th nz-th><span>充值日期</span></th>
  </tr>
  </thead>
  <tbody nz-tbody>
  <tr nz-tbody-tr *ngFor="let data of nzTable.data">
   <td nz-td>{{data.id}}</td>
    <td nz-td>{{data.title}}</td>
    <td nz-td>{{data.per_user_balance!=null?data.per_user_balance:0}}</td>
    <td nz-td>{{data.plan_users_sum!=null?data.plan_users_sum:0}}/{{data.sum_actual_users!=null?data.sum_actual_users:0}}</td>
    <td nz-td>{{data.sum_plan_users_money!=null?data.sum_plan_users_money:0}}/{{data.sum_actual_users_money!=null?data.sum_actual_users_money:0}}</td>
    <td nz-td width="50px;">查看详情</td>
    <td nz-td>{{data.comment}}</td>
    <td nz-td>{{data.user_name}}</td>
    <td nz-td>{{data.create_time}}</td>
    <td nz-td>{{data.transfer_time}}</td>
  </tr>
  </tbody>
</nz-table>

